*~
*.exe
*.o
*.so
*.pyc
*.swp
*.tar.xz
*.log
*.orig
.kdev_include_paths
debian
mod-host
mod-host.install
mod-host.service
tests/effectlib_test
tests/rtmempool-test
tests/self-test-result.json
src/info.h
PKGBUILD
